<template>
  <div class="hello">
    <img class="avatar" src="../assets/avatar.png"/>
    <h1>Jack Douglas</h1>
    <!-- <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href="https://cli.vuejs.org" target="_blank" rel="noopener">vue-cli documentation</a>.
    </p> -->
    <div class="links">
      <a class="link" target="_blank" href="https://notify.me/jack?utm_source=jackdouglas.info" content="Notify" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg viewBox="32 29 69 76" version="1.1" xmlns="http://www.w3.org/2000/svg" class="icon notify">
          <path d="M54.9122908,35.7479442 C52.9434589,31.7491635 48.830114,29 44.0747055,29 C37.4045636,29 32,34.4100436 32,41.0836707 L32,61.4605282 C32,68.1378494 37.4060298,73.5441989 44.0747055,73.5441989 C50.7448475,73.5441989 56.1494111,68.1341552 56.1494111,61.4605282 L56.1494111,55.8384411 C58.5128171,54.3777562 63.2557884,51.8416697 67.5840016,51.924645 C70.8216862,51.8083296 74.2210949,53.4059155 75.9837968,56.8386495 C77.5821204,60.1583742 77.7337541,69.4746614 77.7337541,69.4746614 L77.9123574,80.4010751 C77.889767,80.6973525 77.878264,80.9965735 77.878264,81.2983147 L77.7337541,92.3585214 C77.7337541,98.7537599 83.2242448,103.93857 89.6029781,103.93857 C95.9831139,103.93857 100.833191,98.7561036 100.833191,92.3585214 L100.977701,80.948885 C100.977701,80.3233665 100.928297,79.7102088 100.833191,79.1130615 L100.833191,51.4952637 C100.833191,41.830923 89.716571,29.9511867 77.7337541,29.0312427 C65.1374746,28.5729322 57.853232,33.2692792 54.9122908,35.7479442 Z M43.9820359,104 C50.5995316,104 55.9640719,98.6199963 55.9640719,91.9834254 C55.9640719,85.3468545 50.5995316,79.9668508 43.9820359,79.9668508 C37.3645402,79.9668508 32,85.3468545 32,91.9834254 C32,98.6199963 37.3645402,104 43.9820359,104 Z" id="Combined-Shape" stroke="none" fill-rule="evenodd"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://twitter.com/Douglas_Jack_" content="Twitter" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon twitter">
          <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://t.me/jackdouglas" content="Telegram" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon telegram">
          <path d="M23.91 3.79L20.3 20.84c-.25 1.21-.98 1.5-2 .94l-5.5-4.07-2.66 2.57c-.3.3-.55.56-1.1.56-.72 0-.6-.27-.84-.95L6.3 13.7l-5.45-1.7c-1.18-.35-1.19-1.16.26-1.75l21.26-8.2c.97-.43 1.9.24 1.53 1.73z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://twitch.tv/jackdouglas_" content="Twitch" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon twitch">
          <path d="M2.089 0L.525 4.175v16.694h5.736V24h3.132l3.127-3.132h4.695l6.26-6.258V0H2.089zm2.086 2.085H21.39v11.479l-3.652 3.652H12l-3.127 3.127v-3.127H4.175V2.085zM9.915 12.522H12v-6.26H9.915v6.26zm5.735 0h2.086v-6.26H15.65v6.26z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://github.com/jack-douglas" content="Github" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon github">
          <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://gitlab.com/jackdouglas" content="Gitlab" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon gitlab">
          <path d="M23.955 13.587l-1.342-4.135-2.664-8.189c-.135-.423-.73-.423-.867 0L16.418 9.45H7.582L4.919 1.263C4.783.84 4.185.84 4.05 1.26L1.386 9.449.044 13.587c-.121.375.014.789.331 1.023L12 23.054l11.625-8.443c.318-.235.453-.647.33-1.024"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://keybase.io/jakdouglas" content="Keybase" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon keybase">
          <path d="M10.446 21.371c0 .528-.428.953-.954.953-.525 0-.954-.425-.954-.953 0-.526.428-.954.953-.954.524 0 .951.431.951.955m5.922-.001c0 .528-.428.953-.955.953-.526 0-.952-.425-.952-.953 0-.526.423-.954.949-.954s.954.431.954.955M20.904 12.213l-.156-.204c-.046-.06-.096-.116-.143-.175-.045-.061-.094-.113-.141-.169-.104-.12-.209-.239-.319-.359l-.076-.08-.091-.099-.135-.131c-.015-.018-.032-.034-.05-.053-1.16-1.139-2.505-1.986-3.955-2.504l-.23-.078c.012-.027.024-.055.035-.083.41-1.064.367-2.223-.12-3.255-.491-1.035-1.356-1.8-2.438-2.16-.656-.216-1.23-.319-1.711-.305-.033-.105-.1-.577.496-1.848L10.663 0l-.287.399c-.33.455-.648.895-.945 1.328-.328-.345-.766-.552-1.245-.58L6.79 1.061h-.012c-.033-.003-.07-.003-.104-.003-.99 0-1.81.771-1.87 1.755l-.088 1.402v.003c-.061 1.029.727 1.915 1.755 1.979l1.002.061c-.065.84.073 1.62.405 2.306-1.346.562-2.586 1.401-3.66 2.484C.913 14.391.913 18.051.913 20.994v1.775l1.305-1.387c.266.93.652 1.807 1.145 2.615H5.06c-.833-1.114-1.419-2.426-1.68-3.848l1.913-2.03-.985 3.091 1.74-1.268c3.075-2.234 6.744-2.75 10.91-1.529 1.805.532 3.56.039 4.473-1.257l.104-.165c.091.498.141.998.141 1.496 0 1.563-.255 3.687-1.38 5.512h1.611c.776-1.563 1.181-3.432 1.181-5.512-.001-2.199-.786-4.421-2.184-6.274zM8.894 6.191c.123-1.002.578-1.949 1.23-2.97.025.05.054.097.084.144.264.398.713.625 1.199.605.217-.008.605.025 1.233.232.714.236 1.286.744 1.608 1.425s.349 1.442.079 2.149c-.173.445-.454.82-.806 1.109l-.408-.502-.002-.003c-.279-.341-.694-.535-1.134-.535-.335 0-.664.117-.925.33-.334.27-.514.66-.534 1.058-1.2-.541-1.8-1.643-1.628-3.041l.004-.001zm4.304 5.11l-.519.425c-.046.036-.095.053-.146.053-.066 0-.133-.03-.177-.085l-.111-.135c-.083-.1-.067-.25.034-.334l.51-.42-1.055-1.299c-.109-.133-.091-.33.044-.436.058-.048.126-.072.194-.072.091 0 .181.038.24.113l2.963 3.645c.109.135.09.33-.042.436-.039.029-.082.053-.126.063-.023.006-.045.009-.07.009-.09 0-.178-.04-.24-.113l-.295-.365-1.045.854c-.046.037-.1.055-.154.055-.068 0-.139-.03-.186-.09l-.477-.579c-.082-.102-.068-.252.035-.336l1.051-.857-.426-.533-.002.001zM7.753 4.866l-1.196-.075c-.255-.015-.45-.235-.435-.488l.09-1.401c.014-.245.216-.436.461-.436h.024l1.401.091c.123.006.236.06.317.152.083.094.123.21.116.336l-.007.101c-.32.567-.585 1.134-.773 1.72h.002zm12.524 11.481c-.565.805-1.687 1.081-2.924.718-3.886-1.141-7.396-.903-10.468.701l1.636-5.123-5.291 5.609c.099-3.762 2.453-6.966 5.758-8.311.471.373 1.034.66 1.673.841.16.044.322.074.48.102-.183.458-.119.997.21 1.407l.075.09c-.172.45-.105.975.221 1.374l.475.582c.266.325.659.513 1.079.513.321 0 .635-.111.886-.314l.285-.232c.174.074.367.113.566.113.113 0 .222-.01.33-.035.218-.05.424-.15.598-.291.623-.51.72-1.435.209-2.06l-1.67-2.056c.145-.117.281-.244.408-.381.135.037.271.078.4.12.266.097.533.198.795.315 1.005.445 1.954 1.1 2.771 1.897.029.03.059.055.085.083l.17.175c.038.039.076.079.111.12.079.085.16.175.239.267l.126.15c.045.053.086.104.13.16l.114.15c.04.051.079.102.117.154.838 1.149.987 2.329.404 3.157v.005zM7.719 4.115l-.835-.051.053-.835.834.051-.052.835z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://www.linkedin.com/in/jack-douglas/" content="Linkedin" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon linkedin">
          <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="https://www.crunchbase.com/person/jack-douglas-bf22" content="Crunchbase" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon crunchbase">
          <path d="M21.6 0H2.4A2.41 2.41 0 0 0 0 2.4v19.2A2.41 2.41 0 0 0 2.4 24h19.2a2.41 2.41 0 0 0 2.4-2.4V2.4A2.41 2.41 0 0 0 21.6 0zM7.045 14.465A2.11 2.11 0 0 0 9.84 13.42h1.66a3.69 3.69 0 1 1 0-1.75H9.84a2.11 2.11 0 1 0-2.795 2.795zm11.345.845a3.55 3.55 0 0 1-1.06.63 3.68 3.68 0 0 1-3.39-.38v.38h-1.51V5.37h1.5v4.11a3.74 3.74 0 0 1 1.8-.63H16a3.67 3.67 0 0 1 2.39 6.46zm-.223-2.766a2.104 2.104 0 1 1-4.207 0 2.104 2.104 0 0 1 4.207 0z"/>
        </svg>
      </a>
      <a class="link" target="_blank" href="mailto:contact@jackdouglas.dev" content="Email" v-tippy="{ placement: 'bottom', arrow: true, animation: 'fade', delay: [0, 0], duration: 0}">
        <svg role="img" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="icon email">
          <path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/>
        </svg>
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Main'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.avatar {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.links {
  .link {
    color: #fff;
    
    .icon {
      height: 25px;
      width: 25px;
      padding-right: 10px;
      fill: #fff;
      cursor: pointer;

      &.email:hover {
        fill: #26b3f2;
      }

      &.notify:hover {
        fill: #26b3f2;
      }

      &.twitter:hover {
        fill: #1da1f2
      }

      &.telegram:hover {
        fill: #2ca5e0
      }

      &.twitch:hover {
        fill: #6441a4
      }

      &.github:hover {
        fill: #181717
      }

      &.gitlab:hover {
        fill: #e24329
      }

      &.keybase:hover {
        fill: #33a0ff
      }

      &.linkedin:hover {
        fill: #0077b5
      }

      &.crunchbase:hover {
        fill: #0288D1;
      }
    }
  }
}

</style>
